body {
    margin: 0;
    font-family: Segoe UI, Arial, sans-serif;
    background: linear-gradient(135deg, lightgreen, palegreen);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 900px;
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 10px;
    color: darkgreen;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: green;
    color: white;
    padd
